*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Lato',sans-serif;
    font-family: 'Open Sans',sans-serif;
}

header{
    padding-top: 30px;
    background-color:  rgb(255, 248, 243);
    background-image: url('../images/header_bg.png');
    background-repeat: no-repeat;
    background-position: bottom right;
    background-size: 600px;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 150px;
    margin-right: 100px;
}
.nav-title{
    font-size: 45px;
    font-weight: 800;
}
.primary-text{
    color:rgb(253, 110, 10);
}
.btn-primary{
    background-color: rgb(253, 110, 10);
    border-radius: 5px;
    padding: 18px 30px;
    border: 0;
    color: rgb(255, 255, 255);
}
nav>ul{
    display: flex;
    align-items: center;
}
nav>ul>li{
    list-style: none;
    margin-right: 50px;
}
nav>ul>li>a{
    text-decoration: none;
    font-size: 20px;
    color: rgb(71, 71, 71);
    font-weight: 400;
}

/* banner design */
.banner{
    margin-left: 150px;
    /* margin-top: 49px; */
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.banner img{
    width: 400px;
    height: 450px;
    margin-top: 20px;
    margin-right: 50px;
    
}
.banner-title{
    color: rgb(71, 71, 71);
    font-size: 35px;
    margin-top: 100px;
    margin-bottom: 20px;
}
.banner-subtitle{
    font-size: 60px;
    font-weight: 700;
}
.banner-info{
    color:rgb(117, 117, 117);
    margin-bottom: 20px;
}
.text-banner{
    margin-bottom: 80px;
}

/* about section */
.about-section{
    background-color:  rgb(255, 248, 243);
    margin-left: 150px;
    margin-right: 120px;
    margin-top: 100px;
    padding-top: 100px;
}
.about-section>h2{
    font-size: 30px;
    text-align: center;
    margin-top: 80px;
    margin-bottom: 30px;
}
.about-section>p{
    color: rgb(117, 117, 117);
    font-size:18px;
    text-align: justify;
    margin-left: 100px;
    margin-right: 100px;
}
.about-info{
    display: flex;
    margin-left: 120px;
    margin-right: 80px;
    margin-top: 30px;
    padding-bottom: 80px;
    justify-content: space-between;
}
.about-info>div p{
    margin-bottom: 5px;
}
.about-info>div{
    margin-right: 20px;
}